@import '../../assets/styles/functions';

// /. imports

.header {
    flex: 0 0 auto;

    &__wrapper {
        padding: useRem(30) 0 useRem(20) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header {
    &__wrapper {
        gap: 10px;
    }
}