@import './functions';

// /. imports

@keyframes spinAround525 {
    0% {
        transform: rotate(0deg) translate(calc(#{useRem(-350)} / 2)) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(calc(#{useRem(-350)}/ 2)) rotate(-360deg);
    }
}

@keyframes spinAround425 {
    0% {
        transform: rotate(0deg) translate(calc(#{useRem(-250)} / 2)) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(calc(#{useRem(-250)}/ 2)) rotate(-360deg);
    }
}

// /. animations

@media screen and (max-width: 992px) {
    .about__wrapper.about__wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'content'
            'users'
            'preview';
        gap: useRem(50);
    }

    .about__peview.about__peview,
    .about__users.about__users {
        justify-content: center;
    }

    .about__users.about__users {
        padding: 0;
    }

}

@media screen and (max-width: 700px) {
    .header__nav {
        display: none;
    }
}

@media screen and (max-width: 525px) {
    .circle.circle {
        width: useRem(350);
        height: useRem(350);
    }

    .circle__template.circle__template {
        animation-name: spinAround525;
    }

    .circle__center.circle__center {
        width: useRem(220);
        height: useRem(220);
    }

    .container.container {
        padding: 0 useRem(20);
    }

    .about .about__wrapper {
        padding: useRem(50) 0 0 0;
    }

    .text-loader-about {
        width: 100%;

        span {
            font-size: useRem(70);
        }
    }
}

@media screen and (max-width: 425px) {
    .circle.circle {
        width: useRem(250);
        height: useRem(250);
    }

    .circle__center.circle__center {
        width: useRem(150);
        height: useRem(150);
    }

    .circle__template.circle__template {
        animation-name: spinAround425;
    }

    .circle__template.circle__template {
        &:nth-child(1) {
            width: useRem(20);
            height: useRem(20);
        }

        &:nth-child(1) {
            width: useRem(15);
            height: useRem(15);
        }

        &:nth-child(2) {
            width: useRem(35);
            height: useRem(35);
        }

        &:nth-child(3) {
            width: useRem(20);
            height: useRem(20);
        }

        &:nth-child(4) {
            width: useRem(30);
            height: useRem(30);
        }

        &:nth-child(5) {
            width: useRem(15);
            height: useRem(15);
        }
    }

    .about .about__title {
        font-size: useRem(42);
        line-height: useRem(52);
    }

    .about .about__users {
        flex-direction: column;
    }

    .about__users-info.about__users-info {
        text-align: center;
    }

    .callRequest-form__input.callRequest-form__input {
        padding: useRem(20) useRem(70) useRem(20) useRem(20);
    }

    .callRequest-form__button.callRequest-form__button {
        height: useRem(50);
        width: useRem(50);
        margin: useRem(3);
    }

    .users-list__template.users-list__template {
        width: useRem(48);
        height: useRem(48);
    }

    .text-loader-about {
        span {
            font-size: useRem(50);
        }
    }
}

@media screen and (max-width: 375px) {
    .text-loader-about {
        span {
            font-size: useRem(45);
        }
    }
}