@import './vars';
@import './reset';
@import './functions';

// /. imports

html,
body {
    font-size: #{$font-size}px;
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    background-color: #ECF7F3;
    color: $dark-color;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

// /. general styles

#root,
.App {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.container {
    max-width: useRem(1165); // 1145px
    margin: 0 auto;
    padding: 0 useRem(10);
}