@import './vars';
@import './reset';
@import './functions';
@import './media';

// /. imports

html,
body {
    font-size: #{$font-size}px;
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    background-color: #ECF7F3;
    color: $dark-color;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#root,
.App {
    height: 100vh;
    // overflow: hidden;
}

.App {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// /. general styles

.container {
    max-width: useRem(1165); // 1145px
    width: 100%;
    margin: 0 auto;
    padding: 0 useRem(40);
}

.button {
    background-color: $green-color;
    padding: useRem(8) useRem(22);
    color: $white-color;
    font-weight: 500;
    border-radius: useRem(20);
    transition: all .25s ease-in-out;

    &:hover {
        color: $dark-color;
    }
}

.warn {
    position: absolute;
    left: useRem(0);
    bottom: useRem(-20);
    display: inline-block;
    color: red;
    font-size: useRem(13);
}

// /. reusable styles

.about {
    width: 100%;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'content preview'
            'users preview';
        gap: useRem(40) useRem(10);
        height: 100%;
        padding: useRem(90) 0 0 0;
    }

    &__content {
        grid-area: content;
    }

    &__peview {
        display: flex;
        justify-content: flex-end;
        position: relative;
        grid-area: preview;
    }

    &__background {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../images/promoter.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    &__background-img {
        height: 100%;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }

    &__title {
        font-size: useRem(48);
        font-weight: 700;
        line-height: useRem(65);
        color: $dark-color;

        span {
            color: $orange-color;
        }
    }

    &__description {
        font-size: useRem(15);
        color: $gray-color;
        line-height: useRem(26);
        font-weight: 500;
        margin: useRem(22) 0 useRem(30) 0;
    }

    &__link {
        display: inline-block;
        padding: useRem(12) useRem(22);
        margin-bottom: useRem(50);
    }

    &__users {
        grid-area: users;
        display: flex;
        align-items: center;
        gap: useRem(12);
        padding-bottom: useRem(44);
    }

    &__users-list {
        margin-right: useRem(12);
    }

    &__users-info {
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        line-height: useRem(18.75);
        color: $gray-color;

        a {
            color: $orange-color;
        }
    }
}

.callRequest-form {
    position: relative;

    &__input {
        width: 100%;
        border: none;
        box-shadow: 0 useRem(20) useRem(30) rgba(222, 222, 222, 0.25);
        border-radius: useRem(100);
        background-color: $white-color;
        padding: useRem(24) useRem(70) useRem(24) useRem(40);
        outline: 1px solid transparent;

        color: #A1A1A1;
        font-weight: 400;
        letter-spacing: useRem(0.5);

        &:focus {
            outline: 1px solid $orange-color;
        }

        &::placeholder {
            font-size: useRem(16);
            color: #A1A1A1;
            font-weight: 400;
            letter-spacing: useRem(0.5);
        }
    }

    &__input.no-valid {
        outline: 1px solid red;
    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $green-color;
        border-radius: 100%;
        margin: useRem(5);
        height: useRem(55);
        width: useRem(55);
        overflow: hidden;

        &:disabled {
            opacity: 0.6;

            &:hover {
                svg {
                    stroke: $white-color;
                }
            }
        }

        &:hover {
            svg {
                stroke: $dark-color;
            }
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .25s ease-in-out;
            stroke: $white-color;
        }
    }
}

.circle {
    z-index: -1;
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    width: useRem(450);
    height: useRem(450);
    border: useRem(1) solid #E8E8E8;
    border-radius: 100%;

    &__center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
        width: useRem(280);
        height: useRem(280);
        background-color: $green-color;
        border-radius: 100%;
        overflow: hidden;
    }

    &__image {
        border-radius: 100%;
        height: 100%;
        animation: spinAround 6s linear infinite;
        overflow: hidden;
        object-fit: cover;
        grid-column: 1;
        grid-row: 1;
        z-index: 2;

        &:nth-child(1) {
            animation-delay: -1s;
            width: useRem(30);
            height: useRem(30);
        }

        &:nth-child(2) {
            animation-delay: -2s;
            width: useRem(60);
            height: useRem(60);
        }

        &:nth-child(3) {
            animation-delay: -3s;
            width: useRem(40);
            height: useRem(40);
        }

        &:nth-child(4) {
            animation-delay: -4s;
            width: useRem(50);
            height: useRem(50);
        }

        &:nth-child(5) {
            animation-delay: -5s;
            width: useRem(30);
            height: useRem(30);
        }
    }
}

@keyframes spinAround {
    from {
        transform: rotate(0deg) translate(225px);
    }

    to {
        transform: rotate(360deg) translate(225px);
    }
}